* {
    padding: 0;
    margin: 0;
}

#header {
    background-image: url(/images/nationals2.jpg); 
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.navbar-nav li a {
    float: right;
    color: #fff!important;
}

img {
    max-width: 140px;
    height: auto;
}

.img  {
    max-width: 350px;
    height: auto;
}

.navbar-brand {
    width: 140px;
    margin-left: 30px
}

.navbar-toggler {
    width: 60px;
    border: none!important;
    outline: none !important:
}

nav .fa-bars {
    color: #fff;
    font-size: 26px;
}

.navbarNav {
    color: #fff!important;
}

/*------------Welcome Text--------------*/
.welcome {
    padding: 50px;
    margin-top: -100px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0,0,0.2);
}

.welcome h1 {
    color: #333;
}

/*----------About me-------------*/

#about {
    padding-top: 80px;
    padding-bottom: 10px;
}

#about .col-md-6 {
    padding: 60px 10px;
}

#about h3 {
    margin: 20px auto;
}

#about img {
    width: 700px;
    height: 500px;
}

/*----------Feature-------------*/

#feature {
    padding-top:10px;
    padding-bottom: 10px;
    background: linear-gradient(
        rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(deadlift.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#feature img {
    width: 400px;
    height: 500px;
    /* padding-top: 10px; */
    padding-bottom: 30px;
}

.feature .col-md-6 {
    padding: 0px;
}

#feature .feature-right {
    color: white;
}

#feature .fa-heartbeat {
    color: white;
    text-align: center;
}

#feature .fa-clock-o {
    color: white;
    text-align: center;
}

#feature .fa-trophy {
    color: white;
    text-align: center;
}

.feature-box {
    height: 120px;
}


.feature-box .feature-left{
    height: 120px;
    width: 20%;
    float: left;
}

.feature-box .feature-right{
    height: 120px;
    width: 80%;
    float: left;
}

.feature-box .feature-left .fa{
    padding-top: 13px;
    font-size: 50px;
}

.feature-box .feature-right h4{
    padding-top: 10px;
    padding-left: 15%;
    float: left;
}

.feature-box .feature-right p{
    padding-left: 10%;
    float: left;
}

<!-------packages----------->

#col-md-6 img {
    max-width: 560px;
    height: 360;
}

<!------------Testimonials------------>

#testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
}

#testimonials .container{
    padding-top: 80px;
    
}

#testimonials .col-md-4{
    padding: 10px 30px;
}

#testimonials img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: -60px;
    margin-top: -60px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}

.review {
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}

.review .fa-twitter {
    color: #013f7e;
}

#testimonials span {
    color: #013f7e;
    font-weight: 600;
    font-size: 18px;
}

#testimonials h2 {
    margin-bottom: 20px;
    color: #808080;
}

#testimonials p {
    margin-bottom: 20px;
}

#testimonials .middle {
    margin-bottom: -30px;
    margin-top: -30px;
}


<!-------------contact---------------------->

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.contact {
    padding: 50px 20px;
    background-color: #acb1b1a1;
    position: relative;
    box-shadow: 0 0 2px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: -10px;
}

.contact .input-group {
    border-radius: 30px;
    background: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 5px;
}

.contact .form-control {
    border: none;
    background: transparent;
}

.contact .form-control:focus {
    box-shadow: none;
    background: transparent;
}

.contact .input-group-append {
    background-image: linear-gradient(to right, #2677da, #2677da);
    border-radius: 30px;
}

.contact .input-group-text {
    border: none;
    background: transparent;
    color: #fff;
}

.contact .btn:focus {
    box-shadow: none;
    
}

 /* @media only screen and (min-width: 390) {
    #footer .
   }  */
<!-----------footer---------------->

 .clearfix {
    *zoom: 1;
  } 
  
   /* .clearfix:before,
  .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
  }  */
  
   .clearfix:after {
    clear: both;
  } 

  #footer {
    margin-top: 60px;
    padding: 100px;
    background-color: #111010f9;
    color: #013f7e;
}

#footer p {
    float: right;
    font: bold;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 5px;
    color: #fff;
}

#footer .footer-logo .center{
    display: block;
    margin: auto;
   
}


    

#footer h1 {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

#footer .right {
    text-align: center;
    float: right;
    margin-top: -165px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 90px;
}

#footer .fa {
    padding-right: 20px;
    font-size: 14px;
}


#footer .col-1 {
        float: right;
        margin-top: -155px;
        margin-bottom: 5px;
        margin-right: 105px;
    }


#footer h1 {
    margin-bottom: 10px;
     /* text-align: center */

}

#footer .verse {
    text-align: center;
}


#footer p {
    float:left;
}


